/* Home.css */
.success-container {
    margin: 0;  
    padding: 0; 
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
  }
  .success-link{
    color: #FAF7F2;
   
  }
    
    .success-hero {
      background-color:#CE2829;
       background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0;
    left: 0;
  }
  
  .success-title {
    font-size: 1.5rem;
    color: #FAF7F2;
    z-index: 1; 
    margin-top: 80px;
    font-weight:bold;
  }
  
  .success-subtitle {
    font-size: 3rem;
    color: #FAF7F2;
    z-index: 1;
    margin-top: 20px;
    font-weight: lighter;
    
  
  }
  
  .success-btn {
    background-color: #FDC913;
    color: #FAF7F2;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  
  @media (max-width: 768px) {
    .title {
      font-size: 2rem; 
    }
  
    .subtitle {
      font-size: 1.2rem; 
    }
  
    .order-btn {
      padding: 15px 30px; 
      font-size: 1.2rem; 
    }
  }
  
  @media (max-width: 480px) {
    .title {
      font-size: 1.5rem; 
    }
  
    .subtitle {
      font-size: 1rem; 
    }
  
    .order-btn {
      padding: 20px 40px;
      font-size: 1.4rem; 
    }
  }